
.kawaii-button {
	min-width: 100px;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    display: block;
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: .1s;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid transparent;
}
.kawaii-button:hover {
	opacity: .9;
}
.kawaii-button:active {
	transform: translateY(3px);
}
.kawaii-window .secondary-button {
	background: transparent!important;
	box-sizing: border-box;
}
.break-btn {
	float: right;
}
.kb-center {
	margin: auto;
	text-align: center;
}
.kb-right {
	margin-left: auto;
	text-align: center;
}
.kb-left {
	margin-right: auto;
	text-align: center;
}
.kawaii-button-box {
	width: fit-content;
	max-width: 100%;
}
.kawaii-button-box button{
	display: inline-block;
	margin: 2px;
}
.btns span {
	box-sizing: border-box;
	cursor: pointer;
	height: 20px;
	width: 20px;
	padding-top: 2px;
	padding-left: 5px;
	display: inline-block;
	margin-left: auto ;
	font-weight: bold;
}
.kawaii-header .btns {
	/*float: right;*/
}
.kawaii-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.window-title {
	height: fit-content;
}
.kawaii-button-box {
	margin-bottom: 15px;
}
h3 {
	font-size: 1.6em;
}

/*kawaii a*/

	.kawaii-a {
		font-family: 'VCR_OSD_MONO', sans-serif;
		box-sizing: border-box;
		border-radius: 3px;
		background: #fff;
		border: 1px solid #bf6666;
		color: #bf6666;
		
		box-shadow: 3px 3px 0 #7d3434;
	}
	.kawaii-a .message {
		padding: 0 15px;
		/*text-shadow: 2px 2px 0 #fee;*/
		text-shadow: none;
	}
	.kawaii-a .kawaii-header{
		border-radius:  0;
		padding: 5px 15px 8px 15px;
		background: #ffa7a7;
		border-bottom: 1px solid #bf6666;
	}
	.kawaii-a .window-title {
		color: #fee;
		text-shadow: 1px 1px 0 #7d3434;
	}
	.kawaii-a .btns span {
		height: auto;
		width: auto;
		padding: 2px 5px;
		margin-left: 5px;
		border: 1px solid #bf6666;
		border-radius: 3px;
		box-shadow: 3px 3px 0 #7d3434;
		background: #fee;
	}
	.kawaii-a .btns span:active{
		transform: translateY(2px);
		box-shadow: 1px 1px 0 #7d3434;
	}
	.kawaii-a .kawaii-button {
		background: #bf6666;
		border-radius: 4px;
	    color: #fff;
	    border: 1px solid #bf6666;
		border-radius: 3px;
		box-shadow: 3px 3px 0 #7d3434;
		background: #fee;
		color: #bf6666;
		font-family: 'VCR_OSD_MONO', sans-serif;
	}
	.kawaii-a .secondary-button {
	border: 2px solid #bf6666;
	color: #bf6666!important;
	}

/*end kawaii a*/
/*kawaii a*/

	.kawaii-b {
		box-sizing: border-box;
		padding: 30px;
		background: transparent;
		border: none;
		color: #ffa7a7;
	}
	.kawaii-b .kawaii-header{
		margin: -31px -31px 30px -31px;
		border-radius: 30px 30px 0 0;
		padding: 5px 15px;
		border-bottom: 5px dotted #ffa7a7;
	}
	.kawaii-b .messaage {

		border-radius: 35px;
	}

	.kawaii-b .kawaii-button {
		background: #ffa7a7;
		border-radius: 4px;
	    color: #fff;
	}
	.kawaii-b .secondary-button {
	border: 2px solid #ffa7a7;
	color: #ffa7a7!important;
	}
	
/*end kawaii a*/

/*kawaii c*/

	.kawaii-c {
		box-sizing: border-box;
		border-radius: 5px;
		background: #fff;
		border: 5px solid #ffa7a7;
		color: #ffa7a7;
	}
	.kawaii-c .kawaii-header{
		border-radius:  0;
		padding: 0 5px;
		background: #ffa7a7;
		border-bottom: 5px solid #ffa7a7;
		color: #fff;
	}

	.kawaii-c .kawaii-button {
		background: #ffa7a7;
		border-radius: 4px;
	    color: #fff;
	}
	.kawaii-c .secondary-button {
	border: 2px solid #ffa7a7;
	color: #ffa7a7!important;
	}
/*end kawaii c*/