@font-face {
  font-family: "Patrick Hand";
  src: url("font/PatrickHand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("font/VCR_OSD_MONO.ttf") format("truetype");
}
body {
	background: #fdf9f5;
	font-family: 'Patrick Hand', sans-serif;
	color: #bf6666;
	font-size: 17px;
	padding: 0;
	margin: 0;
}
button {
	font-family: 'Patrick Hand', sans-serif;
}
 input, textarea  {
	font-family: 'Arial', sans-serif;
}
code {
	font-family: monospace;
	font-size: 13px;
	background: peachpuff;
	padding: 0 7px;
	margin: 0 7px;
}
label {
	min-width: 120px;
	display: inline-block;
}
.title h1, .title h2 {
	text-align: center;
	margin: 0;
	line-height: 1;
	font-family: 'VCR_OSD_MONO';
}
.w-100 {
	width: 100%;
}
#window-name {
	margin: 0 auto;
	width: fit-content;
	background: transparent;
	color: #ffa7a7;
	font-weight: normal;
	color: #fee;
}
h2 {
	text-align: center;
}
a {
	font-weight: bold;
	color: #fee;
	text-decoration: none;
}
table{
	min-width:300px;
	max-width:100% ;
	text-align: left;
}
.tbl td, th {
	padding: 2px 5px;
	border: 1px solid #fff;
}
hr {
	margin: 20px 0;
	border: 1px solid #fff;
	background: #fff;
}
.test {
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}
i {
	font-style: normal;
}
.test.lights-on {
	  animation: glow 1s ease-in-out infinite alternate;
}
.test.lights-off{
	animation: none;
}

.float-left{
	float: left;
}
.glass {
	padding-top: 40px;
	width: 250px;
	max-width: 50%;
	border: 10px solid #fff;
}
.subtitle, .menu {
	text-align: center;
}
.menu {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	background: #ffa7a7;
	font-family: 'VCR_OSD_MONO';
}
.menu-container {
	background: #ffa7a7;
}
.menu span {
	display: inline-block;
	padding: 3px 15px;
	background: #ef9393;
	color: #bf6666;
	border-radius: 5px;
	margin: 2px 3px;
	border: 2px solid #bf6666;
	cursor: pointer;
	transition: .2s;
}
.btnbtn:hover, .menu span.active, .menu > div span:hover{
	background: #fee;
	color:  #bf6666;
}
.menu span:active {
	transform: translateY(2px);
}
.display {
  display: flex;
  /*flex-wrap: wrap;*/
      flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.d-sample {
		padding: 30px;
}
.scrollbtn {
	color: #bf6666;
	font-size: 60px;
	display: block;
	margin: auto;
	text-align: center;
}
.box-container {
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;

	height: 100vh;
	overflow-y: scroll;
	/*margin: 30px;*/
}
.box-container-100 {
	width: 800px;
	max-width: 90vw;
	padding: 15px;
	box-sizing: border-box;
}
.message-content {
		white-space: pre-wrap;
		hyphens: auto;
		overflow-wrap: anywhere;
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	body {
		max-height: 100vh;
		overflow: hidden;
	}
	.d-sample {
		padding: 0 30px;
		flex-grow: 2;
	}
	.scrollbtn {
		display: none;
	}
	.box-container {
	width: 400px;
	}
	.display {
		justify-content: space-between;
		flex-direction: row;
		align-items: flex-start;
	}
	.menu {
		height: 100vh;
		overflow-y: scroll;

    box-shadow: inset 2px 0px 11px 0 #bf6666;
	}

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 


}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}


@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 4px #ffa7a7, 0 0 7px #f6cfcf, 0 0 10px #f6cfcf, 0 0 16px #f6cfcf, 0 0 24px #f6cfcf, 0 0 31px #f6cfcf, 0 0 38px #f6cfcf;
  }
  
  to {
    box-shadow: 0 0 8px #ffa7a7, 0 0 13px #ffe7e7, 0 0 20px #ffe7e7, 0 0 25px #ffe7e7, 0 0 36px #ffe7e7, 0 0 41px #ffe7e7, 0 0 48px #ffe7e7;
  }
}

#inputs input, #heading-input, #window-input {
		outline: none!important;
		display: inline-block;
    padding: 3px 15px;
    background: #fee;
    color: #bf6666;
    border-radius: 5px;
    margin: 2px 3px;
    font-size: 14px;
    border: 2px solid #bf6666;
    transition: .2s;
    max-width: 80vw;
}
#heading-input, #window-input {
	width: 260px;
	max-width: 100%;
	box-sizing: border-box;
}
.menu textarea {
	outline: none;
  border: 2px solid #bf6666;
	max-width: 100%;
	box-sizing: border-box;
	width: 260px!important;
	border-radius: 5px;
	padding: 10px;
	min-height: 80px;
	background: #fee;
  color: #bf6666;
  font-size: 14px;
}